profiles {

    local{
        params.MENTDIR = "resources/weightfunc" // Overarching directory for weightfunction resources
        params.inverse_mask = "${params.MENTDIR}/roi_inverse_mask.nii.gz" // Volume-based inverse mask of regions of interest
        params.mask = "${params.MENTDIR}/roi_mask.nii.gz" // Volume-based mask of regions of interest
        params.clean_config = "${params.MENTDIR}/cifti_clean.json" // Cleaning parameters
        params.weightworkflow = "${params.MENTDIR}/calculate_weightfunc.nf" // Nextflow-formatted weightfunction code 
    }
}